h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-size: 1.6rem;
}

p {
    font-weight: normal;
    color: 6F6F70;
}

body {
    font-size: 1.3rem !important;
}

button {
    font-size: 1rem;
}

a {
    font-size: 1rem;
}

.header {
    background-image: url("../pic/bg.gif");
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
    &-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
        align-items: center;
        &--title {
            font-weight: bold;
            color: #fff;
        }
        &--social {
            width: 2rem;
            height: 2rem;
        }
        &_btn {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            &--item {
                color: $text-primary;
                font-weight: bold;
                padding: 0.5rem 1rem;
                border-radius: 5rem;
                border: 2px solid $text-primary;
                background-color: transparent;
                margin: 1.3rem;
                &:hover {
                    border-radius: 5rem;
                    color: $text-secondary;
                    background-color: $text-primary;
                }
            }
        }
    }
    &-main {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 30%;
        left: 30%;
        &_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 40rem;
            &--img {
                width: 10rem;
                height: 10rem;
                position: absolute;
                top: -5rem;
            }
            &--text {
                background-color: rgba(255, 255, 255, 0.5);
                color: rgb(77, 77, 77);
                padding: 5rem 6rem;
                border-radius: 0.7rem;
                font-weight: bold;
                width: 25rem;
                text-align: center;
            }
            &--btn {
                padding: 1rem 4rem;
                border-radius: 5rem 0rem 5rem 5rem;
                background-color: #ff482c;
                border: none;
                color: $text-primary;
                font-weight: bold;
                font-size: 1.5rem;
                position: absolute;
                top: 13rem;
            }
        }
        .go-down {
            position: absolute;
            top: 26rem;
            left: 18rem;
            color: black;
            padding: 0.75rem;
            border-radius: 5rem;
            border: 2px solid black;
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_title {
        font-weight: bold;
        margin: 4.5rem 0rem;
    }
    &_section {
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0rem;
        &--image {
            margin-left: 10rem;
            justify-self: center;
            width: 25rem;
            height: 25rem;
        }
        &_content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 50%;
            &--title {
                font-weight: bold;
                color: $text-primary;
                margin: 1rem 0rem;
                width: 100%;
                padding: 1rem 0rem;
                background-color: $text-secondary;
                text-align: center;
            }
            &--text {
                text-align: end;
                padding: 0rem 3rem;
            }
        }
    }
}

.rtl {
    flex-direction: row-reverse;
    background-color: #8DDAE1;
    .main_section_content {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .main_section--image {
        margin-right: 10rem;
        margin-left: 0rem;
    }
}

.hint-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    background-color: #e2e2e2;
    background-image: url("../pic/bg.png");
    background-size: 70rem;
    background-repeat: no-repeat;
    background-position: left center;
    &_right {
        width: 30rem;
        height: 25rem;
        text-align: end;
        &_items {
            &_list {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                align-items: flex-start;
                margin-right: 2rem;
                &--num {
                    color: white;
                    padding: 0.1rem 0.6rem;
                    border-radius: 25rem;
                    background-color: $text-secondary;
                    border: 1px solid black;
                }
                &--text {
                    margin-left: 0.25rem;
                    color: rgb(0, 0, 0);
                    font-weight: medium;
                }
            }
        }
    }
}

.app-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $text-secondary;
    height: 25rem;
    color: white;
    &_content {
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &--item {
            width: 13rem;
            height: 4rem;
            margin: 0.25rem;
        }
    }
}

.request-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 50%;
    height: 30rem;
    &--img {
        width: 50%;
        justify-self: center;
        align-self: center;
        width: 20rem;
        height: 20rem;
    }
    &_content {
        // font-size: 1.3rem;
        width: 50%;
        margin-right: 2rem;
        width: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        &--title {
            margin: 0rem 0rem;
        }
        &--text {
            text-align: end;
        }
        &--btn {
            padding: 1rem 3rem;
            border-radius: 2rem;
            border: 0.25rem solid $text-secondary;
            background-color: transparent;
            font-weight: light;
            color: $text-secondary;
            &:hover {
                color: $text-primary;
                background-color: $text-secondary;
                border: 0.5rem solid $text-primary;
            }
        }
    }
}

.footer {
    background-color: rgba(46, 46, 46, 0.911);
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_logo {
        width: 7rem;
        height: 7rem;
    }
    &_social {
        margin: 0rem 0rem;
        color: white;
        position: relative;
        width: 30rem;
        text-align: center;
        &--icon {
            margin: 3rem 1rem;
            &:hover {
                color: $text-secondary;
            }
        }
        &:after {
            content: '';
            width: 30rem;
            border-bottom: solid 1px white;
            position: absolute;
            left: 0;
            top: 1rem;
            z-index: 1;
        }
    }
    &_link {
        display: flex;
        justify-content: center;
        align-items: center;
        // font-size: 0.9rem;
        &--item {
            width: 8rem;
            position: relative;
            text-align: center;
            &:after {
                content: '';
                height: 1.5rem;
                border-right: solid 2.5px $text-secondary;
                position: absolute;
                left: 0rem;
                top: 0rem;
                z-index: 1;
            }
            &:hover {
                padding: 0rem 0rem;
                background-color: transparent;
            }
        }
    }
}