@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb.ttf');
    src: url('../fonts/IRANSansWeb_FaNum.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb_Bold.ttf');
    src: url('../fonts/IRANSansWeb_FaNum_Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb_Light.ttf');
    src: url('../fonts/IRANSansWeb_FaNum_Light.ttf');
    font-weight: light;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb_Medium.ttf');
    src: url('../fonts/IRANSansWeb_FaNum_Medium.ttf');
    font-weight: medium;
}

@font-face {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSansWeb_UltraLight.ttf');
    src: url('../fonts/IRANSansWeb_FaNum_UltraLight.ttf');
    font-weight: ultraLight;
}