body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    direction: ltr;
    font-family: 'IRANSans', Times, serif;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0.7rem;
}

a {
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

a:hover,
a.active {
    text-decoration: none;
    color: black;
    padding: 10PX 20px;
    background-color: white;
    border-radius: 10px;
}

li,
ol,
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.container-fluid {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row:after {
    clear: both;
    content: " ";
    display: table
}